.white {
  color:white;
}

#me{
  background-color: #78C2AD;
  color: white;
}

.navbar-toggleable-md, .navbar-collapse {         
  -webkit-justify-content: flex-end;
  justify-content: flex-end;  
} 

body {
  background-color: #f7f7f9;
}

#copyright {
  text-align: right;
  color:white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
}